:root {
    --md-primary-fg-color:        #EE0F0F;
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark:  #90030C;
    color: black;
}

h1 {
    color:#64C3D2; 
    font-weight: 700; 
    font-size: 1.9em;
}

h2 {
    font-weight: 700; 
    font-size: 1.7em;
}


h3 {
    color:#64C3D2; 
    font-weight: 700; 
    font-size: 1.4em;
}

blockquote {
    border-left: 5px solid #b4ecff;
    background-color: #f9f9f9;
    margin: 0;
    padding: 10px 20px 1px 20px;
    font-style: italic;
    color: #5a5a5a;
    line-height: 1.6;
}