:root {
    --md-primary-fg-color:        #EE0F0F;
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark:  #90030C;
}

h1 {
    color:#64C3D2; 
    font-weight: 700; 
    font-size: 1.9em;
}

h2 {
    font-weight: 700; 
    font-size: 1.7em;
}


h3 {
    color:#64C3D2; 
    font-weight: 700; 
    font-size: 1.4em;
}

blockquote {
    border-left: 5px solid #ccc; /* Thêm viền trái màu xám */
    background-color: #f9f9f9; /* Nền màu xám nhạt */
    margin: 0; /* Khoảng cách trên dưới 20px, trái phải 10px */
    padding: 20px 20px 2px 20px; /* Đệm trên dưới 10px, trái phải 20px */
    font-style: italic; /* Font chữ nghiêng */
    color: #333333; /* Màu chữ đậm hơn một chút */
}